:root {
  --note-color-1: lightblue;
  --note-color-2: yellow;
  --note-color-3: lightgreen;
  --note-color-4: pink;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #3D7EAA;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

h1 {
	color: white;
	font-size: 3rem;
	font-weight: 700;
}

input {
	font-size: 18px;
	color: #2980b9;
	background: #f7f7f7;
	width: 40%;
	margin: 10px;
	padding: 10px;
    box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus {
	background: #fff;
	border: 3px solid #fff;
	outline: none;
}

#container {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	grid-gap: 20px;
	padding: 20px;
}

.note {
	display: grid;
	grid-template: 
		'text text'
		'trash colors';
	align-content: space-between;
	width: 300px;
	height: 200px;
	background: #fff;
	padding: 20px;
	line-height: 1.6em;
	color: #666;
	box-sizing: border-box;
}

.text {
	grid-area: text;
}

.trash {
	grid-area: trash;
}

.colors {
	grid-area: colors;
	letter-spacing: 2px;
	text-align: right;
}

.color0 {
	color: white;
}

.color1 {
	color: var(--note-color-1);
}

.color2 {
	color: var(--note-color-2);
}

.color3 {
	color: var(--note-color-3);
}

.color4 {
	color: var(--note-color-4);
}

.note-color-0 {
	background-color: white;
}

.note-color-1 {
	background-color: var(--note-color-1);
}

.note-color-2 {
	background-color: var(--note-color-2);
}

.note-color-3 {
	background-color: var(--note-color-3);
}

.note-color-4 {
	background-color: var(--note-color-4);
}